*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/Users/sanketmane/Documents/News_App/app/src/main/java/com/example/news_app/constant/Apikey.kt
/app/src/main/java/com/example/news_app/constant/Apikey.kt